cmake-build-debug
examples/ble_peripheral/ble_app_uart/pca10040/s112/arm5_no_packs/JLinkLog.txt
examples/ble_peripheral/ble_app_uart/pca10040/s112/arm5_no_packs/_build/
examples/ble_peripheral/ble_app_uart/pca10040/s112/arm5_no_packs/ble_app_uart_pca10040_s112.uvguix.Dell
examples/iot/coap/ipv6/client/pca10040/s132/arm5_no_packs/RTE/
examples/iot/coap/ipv6/client/pca10040/s132/arm5_no_packs/_build/
examples/iot/coap/ipv6/client/pca10040/s132/arm5_no_packs/iot_ipv6_coap_client_pca10040_s132.uvguix.Dell
examples/iot/tcp/client/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
examples/iot/tcp/client/pca10040/s132/arm5_no_packs/JLinkLog.txt
examples/iot/tcp/client/pca10040/s132/arm5_no_packs/JLinkSettings.ini
examples/iot/tcp/client/pca10040/s132/arm5_no_packs/RTE/
examples/iot/tcp/client/pca10040/s132/arm5_no_packs/_build/
examples/iot/tcp/client/pca10040/s132/arm5_no_packs/iot_lwip_tcp_client_pca10040_s132.uvguix.Dell
examples/peripheral/blinky/pca10040/blank/arm5_no_packs/RTE/
examples/peripheral/blinky/pca10040/blank/arm5_no_packs/blinky_pca10040.uvguix.Dell
examples/peripheral/pwm_library/pca10040/blank/arm5_no_packs/RTE/
examples/peripheral/pwm_library/pca10040/blank/arm5_no_packs/pwm_library_pca10040.uvguix.Administrator
examples/peripheral/saadc/pca10040/blank/arm5_no_packs/EventRecorderStub.scvd
examples/peripheral/saadc/pca10040/blank/arm5_no_packs/JLinkLog.txt
examples/peripheral/saadc/pca10040/blank/arm5_no_packs/JLinkSettings.ini
examples/peripheral/saadc/pca10040/blank/arm5_no_packs/RTE/
examples/peripheral/saadc/pca10040/blank/arm5_no_packs/_build/
examples/peripheral/saadc/pca10040/blank/arm5_no_packs/saadc_pca10040.uvguix.Dell
examples/peripheral/spi/pca10040/blank/arm5_no_packs/RTE/
examples/peripheral/spi/pca10040/blank/arm5_no_packs/_build/
examples/peripheral/spi/pca10040/blank/arm5_no_packs/spi_pca10040.uvguix.Dell
examples/peripheral/twi_master_with_twis_slave/pca10040/blank/arm5_no_packs/RTE/
examples/peripheral/twi_master_with_twis_slave/pca10040/blank/arm5_no_packs/twi_master_with_twis_slave_pca10040.uvguix.Dell
examples/peripheral/twi_scanner/pca10040/blank/arm5_no_packs/EventRecorderStub.scvd
examples/peripheral/twi_scanner/pca10040/blank/arm5_no_packs/JLinkLog.txt
examples/peripheral/twi_scanner/pca10040/blank/arm5_no_packs/JLinkSettings.ini
examples/peripheral/twi_scanner/pca10040/blank/arm5_no_packs/RTE/
examples/peripheral/twi_scanner/pca10040/blank/arm5_no_packs/_build/
examples/peripheral/twi_scanner/pca10040/blank/arm5_no_packs/twi_scanner_pca10040.uvguix.Dell
examples/peripheral/twi_sensor/pca10040/blank/arm5_no_packs/EventRecorderStub.scvd
examples/peripheral/twi_sensor/pca10040/blank/arm5_no_packs/JLinkLog.txt
examples/peripheral/twi_sensor/pca10040/blank/arm5_no_packs/JLinkSettings.ini
examples/peripheral/twi_sensor/pca10040/blank/arm5_no_packs/RTE/
examples/peripheral/twi_sensor/pca10040/blank/arm5_no_packs/_build/
examples/peripheral/twi_sensor/pca10040/blank/arm5_no_packs/twi_sensor_pca10040.uvguix.Dell
examples/ble_peripheral/ble_app_uart/pca10040/s112/arm5_no_packs/ble_app_uart_pca10040_s112.uvoptx
